/* SITE-HEADER SITE-NAV */

.site-header .site-nav {
    
    .menu-button {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
        margin: 0;
        font-size: 1.5em;
        line-height: 1;
        z-index: 20;
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;

        svg {
            fill: white;

            rect {
                transition: 250ms ease-out;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $color-link-1;
        position: fixed;
        top: 0;
        right: 0;
        width: 21vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0px at 10em);
        // transform: translate(0,-100%);
        transition: 1s all ease-out;
        font-family: $font-family-sans;
        font-weight: 300;
        z-index: 19;
    }

    li {
        font-size: 2vw;
        padding: 1em;
        transform: scale(0);
        transition: 200ms all ease-in-out 250ms;
        // min-width: 20vw;
        opacity: 0;
        a{
            color: whitesmoke;
            &:hover {
                color: rgb(220, 187, 243);
            }
        }
    }

    li.classes {
        transition-delay: .4s;
    }

    li.video {
        transition-delay: .6s;
    }

    li.design {
        transition-delay: .6s;
    }

    li.web {
        transition-delay: .6s;
    }

    .menubar-top,
    .menubar-middle,
    .menubar-bottom {
        transform-origin: center;
    }

    &[data-navstate="open"] {

        .menu-button {
            position: fixed;
        }

        .menubar-top {
            
            // transform: translate(0, 8px);
            transform: translate(7px, 7px) rotate(-45deg);
            // fill: black;
        }

        .menubar-middle {
            opacity: 0;
        }

        .menubar-bottom {
           
            // transform: translate(0, -8px);
            transform: translate(0, -4px) rotate(45deg);
            // fill: black;
        }

        ul {
            transform: translate(0,0);
            clip-path: circle(100% at 60% 40%);
        
        }

        li {
            transform: scale(1);
            opacity: 1;
        }
    }
}

/* SITE-FOOTER SITE-NAV */

.site-footer .site-nav {
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        padding: 0;
    }    

    a {
        display: block;
        padding: 1em;
        line-height: 1;
    }
}